{% load static %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-12">
                <h2>About Jofenai Sauce<span class="theme-cl"></span></h2>
                <p>We are dealing with production of sauce using pure organic pepper as raw materials. We collect form the farm, grind and make a good package ready and suitable for using.</p>
                <p>Our sauce contains habenaro, lemon and vineger that add food value, flavor and good taste. All these ingredients improves food for better health</p>
                <p>Jofenai sauce provices flavor, moisture contrast and food color.</p>
                <p>Enjoy food flavor with Jofenai sauce.</p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 ml-auto">
                <div class="about_video">
                    <div class="thumb">
                        <img class="pro_img img-fluid w100" src="{% static 'img/aboutus.jpg'%}" alt="7.jpg">

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>