{% extends 'store/main.html' %} {% load static %}
<!-- TITLE OF PAGE -->
{% block title %} jofenaichilisauce {% endblock %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/metismenu.css' %}"> -->

<!-- CONTENT GOES HERE -->
{% block content %}
<!--  -->
{% include 'store/navigation.html'%}
<!--  -->

{% include 'store/contacts.html'%}


<!-- footer -->
{% include 'store/footer.html'%}
<!-- end -->
{% endblock %}