{%load static %}
<div class="row mb-4">
    <div class="col-lg-4 col-md-4">
        <div class="contact-box">
            <img src="{% static 'img/map.png'%}" class="mx-auto" alt="">
            <h4>Address</h4>
            P.O.BOX 161 DODOMA, TANZANIA<br>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="contact-box">
            <img src="{% static 'img/email.png'%}" class="mx-auto" alt="">
            <h4>E-Mail</h4>
            info@jofenaichilisauce.co.tz<br>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="contact-box">
            <img src="{%static 'img/call.png'%}" class="mx-auto" alt="">
            <h4>Call us</h4>
            (255) 254 758 4572<br>
        </div>
    </div>

</div>