<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h2>Vision</h2>
                <p>To produce and supply pure organic pepper that improves food tastes and improves health.</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h2>Mission</h2>
                <p>To motivate and educate farmers to cultivate quality and pure organic pepper that will produce pure sauce and add flavor, taste and better health.</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h2>Goals</h2>
                <p>To cultivate more pepper</p>
                <p>To produce chillsauce</p>
            </div>


        </div>
    </div>
</section>