{% extends 'store/base.html' %}

<!-- TITLE OF PAGE -->
{% block title %} jofenaichilisauce {% endblock %}

<!-- CONTENT GOES HERE -->
{% block content %}
<!-- CONTENT HERE -->
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}





<div class="row mx-1">

    {% for product in product %}
    <div class="col-lg-4 col-md-4 col-sm-6">
        <img class="thumbnail" src="{{product.imageURL}}" width="500" height="500">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>

            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>


            <h4 style="display: inline-block; float:right"><strong>{{product.price}} TZS</strong></h4>

        </div>
    </div>
    {% endfor %}
</div>

<!-- CARTS -->
{% if items %}
<div class="row mx-1" id="item-product">
    <div class="col-lg-12 col-md-4 col-sm-6 table-responsive">

        <div class="box-element table-responsive">
            <table class="table">

                <tbody>
                    <tr>
                        <th>
                            <h5>Items: <strong>{{order.get_cart_items}}</strong></h5>
                        </th>
                        <th>
                            <h5>Total:<strong> {{order.get_cart_total|floatformat:2}}TZS</strong></h5>
                        </th>
                        <th>
                            <a style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                        </th>

                </tbody>
            </table>
        </div>

        <br>
        <div class="box-element table-responsive">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"><strong>Item</strong></th>
                        <th scope="col"><strong>Price</strong></th>
                        <th scope="col"><strong>Quantity</strong></th>
                        <th scope="col"><strong>Total</strong></th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in items %}
                    <tr>
                        <th scope="row"><img class="row-image" src="{{item.product.imageURL}}"></th>
                        <td>
                            <p>{{item.product.name}}</p>
                        </td>
                        <td>
                            <p>{{item.product.price|floatformat:2}}TZS</p>
                        </td>
                        <td>
                            <p class="quantity">{{item.quantity}}</p>
                            <div class="quantity">
                                <button data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart">+</button>

                                <button data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart">-</button>
                            </div>
                        </td>
                        <td>
                            <p>{{item.get_total|floatformat:2}}TZS</p>
                        </td>
                    </tr>


                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif%}
<!-- END CONTENT -->
{% endblock %}