{% load static %}
<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="sec-heading-flex pl-2 pr-2">
                    <div class="sec-heading-flex-one">
                        <h2>Various products</h2>
                    </div>
                    <div class="sec-heading-flex-last">
                        <!--  have to check this-->
                        <a href="#" class="btn btn-theme"> More<i class="ti-arrow-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="owl-carousel products-slider owl-theme">

                    <!-- Single Item -->
                    <div class="item">
                        <div class="woo_product_grid">
                            <div class="woo_product_thumb">
                                <img src="{%static 'img/product1.jpg'%}" alt="" />
                            </div>
                            <div class="woo_product_caption center">
                                <div class="woo_title">
                                    <h4 class="woo_pro_title"><a href="#">Harvested organic pepper </a></h4>
                                </div>
                                <div class="woo_price">
                                    <h6>Pure</h6>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="item">
                        <div class="woo_product_grid">
                            <div class="woo_product_thumb">
                                <img src="{% static 'img/product2.jpg'%}" class="img-fluid"  alt="" />
                            </div>
                            <div class="woo_product_caption center">
                                <div class="woo_title">
                                    <h4 class="woo_pro_title"><a href="#">Organic pepper</a></h4>
                                </div>
                                <div class="woo_price">
                                    <h6>Farm</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="item">
                        <div class="woo_product_grid">
                            <div class="woo_product_thumb">
                                <img src="{% static 'img/product3.jpg'%}" class="img-fluid" alt="" />
                            </div>
                            <div class="woo_product_caption center">
                                <div class="woo_title">
                                    <h4 class="woo_pro_title"><a href="#">Manufactured and Packed</a></h4>
                                </div>
                                <div class="woo_price">
                                    <h6>End product</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="item">
                        <div class="woo_product_grid">
                            <div class="woo_product_thumb">
                                <img src="{% static 'img/product4.jpg'%}" class="img-fluid" alt="" />
                            </div>
                            <div class="woo_product_caption center">
                                <div class="woo_title">
                                    <h4 class="woo_pro_title"><a href="#">Suitable for Food</a></h4>
                                </div>
                                <div class="woo_price">
                                    <h6>For Food</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="item">
                        <div class="woo_product_grid">
                            <div class="woo_product_thumb">
                                <img src="{% static 'img/product5.jpg'%}" class="img-fluid" alt="" />
                            </div>
                            <div class="woo_product_caption center">
                                <div class="woo_title">
                                    <h4 class="woo_pro_title"><a href="#">Best Taste and Flavor</a></h4>
                                </div>
                                <div class="woo_price">
                                    <h6>Flavor</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="item">
                        <div class="woo_product_grid">
                            <div class="woo_product_thumb">
                                <img src="{% static 'img/product6.jpg'%}" class="img-fluid" alt="" />
                            </div>
                            <div class="woo_product_caption center">
                                <div class="woo_title">
                                    <h4 class="woo_pro_title"><a href="#">Manufactured & Packed</a></h4>
                                </div>
                                <div class="woo_price">
                                    <h6>Sauce Packages</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="item">
                        <div class="woo_product_grid">
                            <div class="woo_product_thumb">
                                <img src="{% static 'img/product7.jpg'%}" class="img-fluid" alt="" />
                            </div>
                            <div class="woo_product_caption center">
                                <div class="woo_title">
                                    <h4 class="woo_pro_title"><a href="#">Cook with Jofenai sauce</a></h4>
                                </div>
                                <div class="woo_price">
                                    <h6>Best taste</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Item -->
                    <div class="item">
                        <div class="woo_product_grid">
                            <div class="woo_product_thumb">
                                <img src="{% static 'img/product3.jpg'%}" class="img-fluid" alt="" />
                            </div>
                            <div class="woo_product_caption center">
                                <div class="woo_title">
                                    <h4 class="woo_pro_title"><a href="#">Enjoy test with our Products</a></h4>
                                </div>
                                <div class="woo_price">
                                    <h6>Jofenai sauce</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>