{% extends 'store/main.html' %} {% load static %}
<!-- TITLE OF PAGE -->
{% block title %} jofenaichilisauce {% endblock %}


<!-- CONTENT GOES HERE -->
{% block content %}
<!--  -->
{% include 'store/navigation.html'%}
<!--  -->

<!-- ======================== Fresh Money Plants Start ==================== -->
{% include 'store/product_content.html'%}
<!-- ======================== Fresh Money Plants End ==================== -->


<!-- footer -->
{% include 'store/footer.html'%}
<!-- end -->
{% endblock %}