<!DOCTYPE html> {% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_register.css' %}">
    <!-- TITLE OF PAGE -->



</head>

<body>
    <img src="{% static 'img/banner3.jpg'%}" alt="" class="background-img">
    <div class="form-container black-bg-a register">
        <div class="imgcontainer">
            <img src="{%static 'images/icons/profile.png'%}" alt="Avatar" class="avatar">
        </div>
        <form action="{% url 'register'%}" name="validate" id="form" onsubmit="return validation()" method="post">
            <!-- <form action="./index.html" name="validate" id="form"> -->

            <div class="form-control">
                <img src="{%static 'images/icons/icons8-username-48.png'%}" alt="" width="40" height="40">
                <input type="text" placeholder="Username" id="username1" name="username1">
            </div>
            <span class="helptext hidden"></span>
            <div class="form-control">
                <img src="{%static 'images/icons/icons8-email-48.png'%}" alt="" width="40" height="40">
                <input type="email" placeholder="Email" id="email" name="email">
            </div>
            <span class="helptext hidden"></span>
            <div class="form-control">
                <img src="{%static 'images/icons/icons8-mobile-phone-48.png'%}" alt="" width="40" height="40">
                <input type="text" autocomplete="phonenumber" placeholder="PhoneNumber" id="phonenumber" name="phonenumber">
            </div>
            <span class="helptext hidden"></span>
            <div class="form-control">
                <img src="{%static 'images/icons/keepass.png'%}" alt="" width="40" height="40">
                <input type="password" autocomplete="current-password" id="password" name="password1" placeholder="Password">
            </div>
            <span class="helptext hidden"></span>
            <div class="form-control">
                <img src="{%static 'images/icons/download (1).svg'%}" alt="" width="40" height="40">
                <input type="password" autocomplete="current-password" name="password2" id="password1" placeholder="Confirm Password">
            </div>
            <span class="helptext hidden"></span>
            <div class="form-control my-3">
                <img src="{%static 'images/icons/register-1.png'%}" alt="" width="40" height="40">
                <input type="submit" value="Register" class="black-bg ">
            </div>

            <div class="container black-bg">
                <p class="form-control">have account?. <a href="{%url 'login'%}" class="login-link">Login</a>
                    <span style="margin-left:15%">
                        <button type="button" onclick="home()" class="cancelbtn">Cancel</button>
                    </span>
                </p>
            </div>
        </form>
    </div>


    <script src="{% static 'js/login_register.js'%}"></script>
</body>

</html>